node_modules
.env
public/config.local.json
dist.zip
dist/
build/
coverage/
logs/
*.log
*.tmp
.DS_Store
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.swp
*.bak
*.backup
*.orig
*.rej
*.swo
EAG-V3.mp4
